<section class="main">
    <div class="container py-5">
        <div class="row py-4" style="justify-content: flex-end;">
            <div class="col-lg-7 pt-5 text-center ">
                <h1 class="pt-5">Título do site para fazer sentido</h1>
                <button class="btn1 mt-3">Mais dicas</button>
            </div>
        </div>
    </div>
</section>

<section class="new">
    <div class="container py-5">
        <div class="row text-center">
            <div class="col-lg-7 m-auto">
                <div class="row">
                    <div class="col-lg-4">
                    <img class="fruit-image" src="assets/img/banana.jpeg" alt="">
                    <h6>NATURAL</h6>
                    </div>
                    <div class="col-lg-4">
                        <img class="fruit-image" src="assets/img/grapes.jpeg" alt="">
                        <h6>ORGANIC</h6>
                    </div>
                    <div class="col-lg-4">
                        <img class="fruit-image" src="assets/img/mango.jpeg" alt="">
                        <h6>HEALTH</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="product">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-lg-5 m-auto text-center">
                <h1>Whats treding?</h1>
                <h6 style="color: red;">Be healthy organic food</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2 ">
                    <div class="card-body">
                        <img class="img-fluid" src="assets/img/energy-food.jpeg" alt="">
                    </div>
                </div>
                <h6>Energy food</h6>
                <p>R$ 39,90</p>
            </div>
            <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2 ">
                    <div class="card-body">
                        <img class="img-fluid" src="assets/img/energy-food.jpeg" alt="">
                    </div>
                </div>
                <h6>Energy food</h6>
                <p>R$ 39,90</p>
            </div>
            <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2 ">
                    <div class="card-body">
                        <img class="img-fluid" src="assets/img/energy-food.jpeg" alt="">
                    </div>
                </div>
                <h6>Energy food</h6>
                <p>R$ 39,90</p>
            </div>
            <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2 ">
                    <div class="card-body">
                        <img class="img-fluid" src="assets/img/energy-food.jpeg" alt="">
                    </div>
                </div>
                <h6>Energy food</h6>
                <p>R$ 39,90</p>
            </div>
            <div class="row">
                <div class="col-lg-6 text-center m-auto">
                    <button class="btn1">Click for more</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about">
    <div class="container pb-5">
        <div class="row py-5">
            <div class="col-lg-8 m-auto text-center">
                <h1>Welcome to our organic food sociaty</h1>
                <h6 style="color: red;">By healty organic food</h6>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <img class="img-fluid" src="assets/img/woman-healthy.jpeg" alt="">
                    <h5>Best quality product</h5>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas exercitationem repellat, repellendus voluptatum libero laboriosam ratione assumenda consequatur modi inventore consequuntur culpa, doloribus expedita nemo ad debitis facere. A, sit!</p>
                </div>
                <div class="col-lg-4">
                    <img class="img-fluid" src="assets/img/organic-food.jpeg" alt="">
                    <h5>Best quality product</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas exercitationem repellat, repellendus voluptatum libero laboriosam ratione assumenda consequatur modi inventore consequuntur culpa, doloribus expedita nemo ad debitis facere. A, sit!</p>
                </div>
                <div class="col-lg-4">
                    <img class="img-fluid" src="assets/img/woman-healthy.jpeg" alt="">
                    <h5>Best quality product</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas exercitationem repellat, repellendus voluptatum libero laboriosam ratione assumenda consequatur modi inventore consequuntur culpa, doloribus expedita nemo ad debitis facere. A, sit!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 text-center m-auto">
                <button class="btn1">Shop more</button>
            </div>
        </div>
    </div>
</section>

<section class="shop">
    <div class="container">
        <div class="row py-5">
            <div class="col-lg-8 m-auto text-center">
                <h1>Explore our store</h1>
                <h6 style="color: red;">Pick yout product from our store</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2 ">
                    <div class="card-body">
                        <img class="img-fluid" src="assets/img/energy-food.jpeg" alt="">
                    </div>
                </div>
                <h6>Energy food</h6>
                <p>R$ 39,90</p>
            </div>
            <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2 ">
                    <div class="card-body">
                        <img class="img-fluid" src="assets/img/energy-food.jpeg" alt="">
                    </div>
                </div>
                <h6>Energy food</h6>
                <p>R$ 39,90</p>
            </div>
            <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2 ">
                    <div class="card-body">
                        <img class="img-fluid" src="assets/img/energy-food.jpeg" alt="">
                    </div>
                </div>
                <h6>Energy food</h6>
                <p>R$ 39,90</p>
            </div>
            <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2 ">
                    <div class="card-body">
                        <img class="img-fluid" src="assets/img/energy-food.jpeg" alt="">
                    </div>
                </div>
                <h6>Energy food</h6>
                <p>R$ 39,90</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2 ">
                    <div class="card-body">
                        <img class="img-fluid" src="assets/img/energy-food.jpeg" alt="">
                    </div>
                </div>
                <h6>Energy food</h6>
                <p>R$ 39,90</p>
            </div>
            <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2 ">
                    <div class="card-body">
                        <img class="img-fluid" src="assets/img/energy-food.jpeg" alt="">
                    </div>
                </div>
                <h6>Energy food</h6>
                <p>R$ 39,90</p>
            </div>
            <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2 ">
                    <div class="card-body">
                        <img class="img-fluid" src="assets/img/energy-food.jpeg" alt="">
                    </div>
                </div>
                <h6>Energy food</h6>
                <p>R$ 39,90</p>
            </div>
            <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2 ">
                    <div class="card-body">
                        <img class="img-fluid" src="assets/img/energy-food.jpeg" alt="">
                    </div>
                </div>
                <h6>Energy food</h6>
                <p>R$ 39,90</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2 ">
                    <div class="card-body">
                        <img class="img-fluid" src="assets/img/energy-food.jpeg" alt="">
                    </div>
                </div>
                <h6>Energy food</h6>
                <p>R$ 39,90</p>
            </div>
            <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2 ">
                    <div class="card-body">
                        <img class="img-fluid" src="assets/img/energy-food.jpeg" alt="">
                    </div>
                </div>
                <h6>Energy food</h6>
                <p>R$ 39,90</p>
            </div>
            <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2 ">
                    <div class="card-body">
                        <img class="img-fluid" src="assets/img/energy-food.jpeg" alt="">
                    </div>
                </div>
                <h6>Energy food</h6>
                <p>R$ 39,90</p>
            </div>
            <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2 ">
                    <div class="card-body">
                        <img class="img-fluid" src="assets/img/energy-food.jpeg" alt="">
                    </div>
                </div>
                <h6>Energy food</h6>
                <p>R$ 39,90</p>
            </div>
        </div>
    </div>
</section>

<section class="apple py-5">
    <div class="container text-center text-white py-5">
        <div class="row py-5">
            <div class="col-lg-6">
                <h1 class="font-weight-bold py-3">Unlock your potential with good nutrion</h1>
                <h6 style="color: red;">Pick yout product from our store</h6>
                <button class="btn1 mt-3">More for us</button>
            </div>
        </div>
    </div>
</section>

<section class="contact pt-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-5 m-auto text-center">
                <h1>Contact Us</h1>
                <h6 style="color: red;">Be healthy organic food</h6>
            </div>
        </div>
        <div class="row py-5">
            <div class="col-lg-9 m-auto">
                <div class="row">
                    <div class="col-lg-5">
                        <h6>LOCATION</h6>
                        <p>Rua 1, 123, Abadia, Uberaba/MG</p>
                        <h6>PHONE</h6>
                        <p>+55 34 9 1234 4567</p>
                        <h6>E-MAIL</h6>
                        <p>mail@mail.com</p>
                    </div>
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" class="form-control" formControlName="firstName"
                                bg-light placeholder="First Name">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" formControlName="lastName"
                                bg-light placeholder="Last Name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 py-3">
                                <textarea class="form-control" bg-light name="" id="" cols="10" rows="5"></textarea>
                            </div>
                        </div>
                        <button class="btn1">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>