<div class="footer py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 m-auto text-center">
                <h1>Join our society</h1>
                <!-- <form [formGroup]="form" >
                    <input formControlName="email" class="px-3" type="text" placeholder="Enter your e-mail">
                    <button class="btn2">Submit</button>
                </form> -->
            </div>
        </div>
        <div class="row p-5">
            <div class="col-lg-11 m-auto">
                <div class="row">
                    <div class="col-lg-3">
                        <h5 class="pb-3">JOIN OUR SOCIETY</h5>
                        <p>Regular</p>
                        <p>On Time</p>
                        <p>Always Care</p>
                    </div>
                    <div class="col-lg-3">
                        <h5 class="pb-3">FAQ's</h5>
                        <p>No E-Charges</p>
                        <p>Shopping & Deliveries</p>
                        <p>Always Care</p>
                    </div>
                    <div class="col-lg-3">
                        <h5 class="pb-3">OUR COMPANY</h5>
                        <p>Regular</p>
                        <p>On Time</p>
                        <p>Always XCare</p>
                    </div>
                    <div class="col-lg-3">
                        <h5 class="pb-3" class="pb-3">SOCIAL MEDIA</h5>
                        <span><i class="fab fa-facebook"></i></span>
                        <span><i class="fab fa-instagram"></i></span>
                        <span><i class="fab fa-twitter"></i></span>
                        <span><i class="fab fa-google-plus"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <p class="text-center">Copyright ©2021 All rights reserved</p>
    </div>
</div>