.navbar-brand
    font-size: 2rem
    color: black
    font-family: 'Lobster', cursive
    &:hover
        color: black

.nav-link
    margin-right: 10px
    margin-left: 10px
    color: black
    text-transform: uppercase
    font-family: 'Rubik', sans-serif

.search
    height: 40px
    width: 80%
    border-radius: 60px
    outline: none
    margin-right: -35px
    border: 2px solid rgb(248, 26, 92)

.btn0
    height: 40px
    width: 40%
    outline: none
    border: none
    border-radius: 60px 
    background: rgb(248, 26, 92)
    color: white
    font-weight: 700